.githubCorner {
  transform-origin: 14px 9px;
}
.sourceContent:hover .githubCorner {
  animation: octoAnimated 560ms /*4s*/ ease-in-out;
}
@keyframes octoAnimated {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(5deg);
  }
}
